:root {
    --color1: #C0C0C0;
}

body::-webkit-scrollbar {
    display: none; 
}

body {
    overflow: auto;
    color: #C0C0C0;
}

* {
    font-family: "Barlow", sans-serif;
}

.logo {
    border-radius: 100%;
    height: 3.4rem;
    width: auto; 
    margin-right: auto;
    display: block;
    margin-left: 0;
}

body, html {
    margin: 0;
    padding: 0;
    background-color: #131417;
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
}

nav {
    margin  : 0.5rem;
}

.navbar {
    margin-left: 0.5rem; 
    position: fixed; 
    top: 0;
    width: calc(100% - 2rem);
    background: #1e1f26;
    border-radius: 10px;
    padding: 0.5rem;
    display: flex;
    transition: top 0.3s ease; 
    z-index: 100;
    display: flex;
    
}


.navbar ul li.contact-button {
    margin-left: auto;
}

.navbar ul {
    list-style-type: none;
    padding: 0; 
    margin: 0;
    display: flex;
    align-items: center;
    width: 100%;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    display: block;
    font-weight: 800;
}

.navbar ul button {
    border-radius: 100px;
    background-color: #A9A9A9;
    border: none;
    padding: 6px 10px;
    cursor: pointer;
    transition: all 0.2s ease;
    box-shadow: 0 5px #808080;
}

.navbar .open-sidebar{
    border-radius: 100px;
    background-color: #A9A9A9;
    border: none;
    padding: 6px 10px;
    cursor: pointer;
    transition: all 0.2s ease;
    box-shadow: 0 5px #808080;
}

.navbar .open-sidebar:active {
    box-shadow: 0 2px #808080;
    transform: translateY(4px);
}

.navbar .open-sidebar:hover {
    background-color: #C0C0C0; 
}

.nav-elements {
    align-self: center;
    margin-right: auto;
}

.links-button{
    margin-left: 30px;
}

.navbar ul li button {
    background-color: #A9A9A9;
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
    transition: all 0.2s ease;
    box-shadow: 0 5px #808080;
    border-radius: 5px;
}

.navbar ul button:active {
    box-shadow: 0 2px #808080;
    transform: translateY(4px);
}

.navbar ul button:hover {
    background-color: #C0C0C0; 
}

.navbar ul li button:active {
    box-shadow: 0 2px #808080;
    transform: translateY(4px);
}

.navbar ul li button.contact {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
    transition: all 0.2s ease;
    box-shadow: 0 5px #3E8E41;
    border-radius: 5px;
}

.navbar ul li button.contact:active {
    box-shadow: 0 2px #3E8E41;
    transform: translateY(4px);
}

footer {
    margin-top: auto;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.content {
    flex: 1; 
    padding-top: 7rem;
}

.navbar ul li button:hover {
    background-color: #C0C0C0; 
}

.navbar ul li button.contact:hover {
    background-color: #5CD65C; 
}

/*sidebar*/
@media (max-width: 837px){

    .nav-elements{
        display: none;
    }

    .navbar ul{
        width: 100%;
    }

    .navbar ul li.contact-button {
        align-self: center;
        margin-right: auto;
    }


    .sidebar {
    width: auto;
    height: auto; 
    background-color: #1e1f26;
    color: white;
    display: none;
    position: fixed;
    right: 0.6rem;
    top: 0;
    flex-direction: column;
    padding: 1rem;
    z-index: 100;
    border-radius: 10px;
    justify-content: center;
    top: 7rem; 
    transition:  opacity 0.3s ease, visibility 0.3s ease;
    }

    .sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    }

    .sidebar ul li {
    margin-bottom: 1rem;
    }

    .sidebar ul li button{
    background-color: #A9A9A9;
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    display: inline-block;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 5px #808080;
    border-radius: 5px;
    align-items: center;
    width: 100%;
    }

    .sidebar ul li button:hover {
        background-color: #C0C0C0; 
    }

    .sidebar ul li button:active {
        box-shadow: 0 2px #808080;
        transform: translateY(4px);
    }

    .sidebar ul li button a {
    text-decoration: none;
    color: white;
    }

    .sidebar.hidden {
        opacity: 0;
        visibility: hidden;
    }
}

@media (min-width:837px) {
    .open-sidebar {
        display: none;
    }

    .sidebar {
        display: none;
    }
}

#active{
    display: none;
}