:root {
    --text: #C0C0C0;
    --text2: #ffffffcc;
    --button: #A9A9A9;
    --button-shadow:#808080;
    --background: linear-gradient(135deg, rgba(19, 20, 23, 0.8), rgba(19, 20, 23, 0.8) 25%, rgba(0, 0, 0, 0.2) 25%, rgba(0, 0, 0, 0.2) 50%, rgba(19, 20, 23, 0.8) 50%, rgba(19, 20, 23, 0.8) 75%, rgba(0, 0, 0, 0.2) 75%) 0 0,
                    radial-gradient(circle at 50px 50px, rgba(19, 20, 23, 0.5), rgba(19, 20, 23, 0.3) 70%) 0 0;
    --window: #1e1f26;
    --glass-window: rgba(128, 128, 128, 0.3);
}

[data-theme="light"] {
    --text: #1e1f26; 
    --text2: #131417; 
    --button: #A9A9A9;
    --button-shadow:#808080;
    --window: rgba(255, 255, 255, 0.5); 
    --background: linear-gradient(135deg, rgba(236, 240, 241, 0.8), rgba(236, 240, 241, 0.8) 25%, rgba(255, 255, 255, 0.1) 25%, rgba(255, 255, 255, 0.1) 50%, rgba(236, 240, 241, 0.8) 50%, rgba(236, 240, 241, 0.8) 75%, rgba(255, 255, 255, 0.1) 75%) 0 0,
    radial-gradient(circle at 50px 50px, rgba(236, 240, 241, 0.3), rgba(236, 240, 241, 0.2) 70%) 0 0;
    --glass-window: rgba(192, 192, 192, 0.3); /* Helleres Grau */

}

body::-webkit-scrollbar {
    display: none; 
}

* {
    font-family: "Barlow", sans-serif;
}

.logo {
    border-radius: 100%;
    height: 3.4rem;
    width: auto; 
    margin-right: auto;
    display: block;
    margin-left: 0;
}

body, html {
    margin: 0;
    padding: 0;
    background: var(--background);
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    color: #C0C0C0;
}

nav {
    margin  : 0.5rem;
}

.navbar {
    margin-left: 0.5rem; 
    position: fixed; 
    top: 0;
    width: calc(100% - 2rem);
    background: var(--window);
    border-radius: 10px;
    padding: 0.5rem;
    display: flex;
    transition: top 0.3s ease; 
    z-index: 100;
    display: flex;
    backdrop-filter: blur(10px);
    border: white;
}


.navbar ul li.contact-button {
    margin-left: auto;
}

.navbar ul {
    list-style-type: none;
    padding: 0; 
    margin: 0;
    display: flex;
    align-items: center;
    width: 100%;
}

.navbar ul li a {
    text-decoration: none;
    color: var(--text2);
    font-size: 1.5rem;
    display: block;
    font-weight: 800;
}

.navbar ul button {
    border-radius: 100px;
    background-color: var(--button);
    border: none;
    padding: 6px 10px;
    cursor: pointer;
    transition: all 0.2s ease;
    box-shadow: 0 5px var(--button-shadow);
}

.navbar .open-sidebar{
    border-radius: 100px;
    background-color: var(--button);
    border: none;
    padding: 6px 10px;
    cursor: pointer;
    transition: all 0.2s ease;
    box-shadow: 0 5px var(--button-shadow);
}

.navbar .open-sidebar:active {
    box-shadow: 0 2px var(--button-shadow);
    transform: translateY(4px);
}

.navbar .open-sidebar:hover {
    background-color: #C0C0C0; 
}

.nav-elements {
    align-self: center;
    margin-right: auto;
}

.links-button{
    margin-left: 30px;
}

.navbar ul li button {
    background-color: var(--button);
    border: none;
    color: var(--text2);
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
    transition: all 0.2s ease;
    box-shadow: 0 5px var(--button-shadow);
    border-radius: 5px;
}

.navbar ul button:active {
    box-shadow: 0 2px var(--button-shadow);
    transform: translateY(4px);
}

.navbar ul button:hover {
    background-color: #C0C0C0; 
}

.navbar ul li button:active {
    box-shadow: 0 2px var(--button-shadow);
    transform: translateY(4px);
}

.navbar ul li button.contact {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
    transition: all 0.2s ease;
    box-shadow: 0 5px #3E8E41;
    border-radius: 5px;
}

.navbar ul li button.contact:active {
    box-shadow: 0 2px #3E8E41;
    transform: translateY(4px);
}

footer {
    margin-top: auto;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.content {
    flex: 1; 
    padding-top: 7rem;
}

.navbar ul li button:hover {
    background-color: #C0C0C0; 
}

.navbar ul li button.contact:hover {
    background-color: #5CD65C; 
}

/*sidebar*/
@media (max-width: 837px){

    .nav-elements{
        display: none;
    }

    .navbar ul{
        width: 100%;
    }

    .navbar ul li.contact-button {
        align-self: center;
        margin-right: auto;
    }


    .sidebar {
    width: auto;
    height: auto; 
    background-color: #1e1f26;
    color: white;
    display: none;
    position: fixed;
    right: 0.6rem;
    top: 0;
    flex-direction: column;
    padding: 1rem;
    z-index: 100;
    border-radius: 10px;
    justify-content: space-between;
    top: 7rem; 
    transition:  opacity 0.3s ease, visibility 0.3s ease;
    }

    .sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    }

    .sidebar ul li {
    margin-bottom: 1rem;
    }

    .sidebar ul li button{
    background-color: #A9A9A9;
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    display: inline-block;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 5px #808080;
    border-radius: 5px;
    align-items: center;
    width: 100%;
    }

    .sidebar ul li button:hover {
        background-color: #C0C0C0; 
    }

    .sidebar ul li button:active {
        box-shadow: 0 2px #808080;
        transform: translateY(4px);
    }

    .sidebar ul li button a {
    text-decoration: none;
    color: white;
    }

    .sidebar.hidden {
        opacity: 0;
        visibility: hidden;
    }

    #nav-switch {
        display: none;
    }   
}

@media (min-width:837px) {
    .open-sidebar {
        display: none;
    }

    .sidebar {
        display: none;
    }
}

#active{
    display: none;
}


/* theme-switcher */
input[type="checkbox"] {
    display: none;
}

.switcher {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75px; 
    height: 40px; 
    background-color: #A9A9A9;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 5px #808080; 
}

.switcher svg {
    position: relative;
    width: 25px; 
    height: 25px;
    transition: opacity 0.3s ease;
}

.switcher .moon {
    opacity: 1;
    padding-right: 0.8rem;
}

.switcher .sun {
    opacity: 0;
    fill: #fdd835;
}

input[type="checkbox"]:checked + label .moon {
    opacity: 0;
    padding-right: 0.6rem;
}

input[type="checkbox"]:checked + label .sun {
    opacity: 1;
}

input[type="checkbox"]:checked + .switcher {
    background-color: #fdd835; 
    box-shadow: 0 5px orange;
}

.switcher::before {
    content: '';
    display: block;
    width: 35px; 
    height: 35px; 
    background-color: #ffffff;
    border-radius: 50%;
    position: absolute;
    top: 2px; 
    left: 2px; 
    transition: transform 0.3s ease;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}

input[type="checkbox"]:checked + .switcher::before {
    transform: translateX(35px);
}

/* content cards */

.card {
    padding: 0;
    margin: 3rem;
    background-color: var(--glass-window); 
    border-radius: 10px;
    height: 30rem;
    width: calc(100% - 6rem); 
    overflow: hidden; 
    backdrop-filter: blur(3px);
    border: 2px solid;
    border-color: rgba(255, 255, 255, 0.3);
    height: 80vh;
}

.card-title {
    display: flex;
    margin-top: 2rem;
    background-color: #1e1f26;
    padding: 1rem;
    font-size: 2rem;
    color: #fff; 
}

.card-text {
    margin: 2rem;
    font-size: 1.5rem;
}

@keyframes expand {
    from {
      width: 3rem;
    }
    to {
      width: 100%;
    }
  }
  
  .card-title {
    display: flex;
    justify-content: space-between; /* Space between items */
    align-items: center; /* Center items vertically */
  }
  
  .card-title h2 {
    margin: 0; /* Remove default margin from heading */
  }
  
  button.learn-more {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    width: 13rem;
    height: auto;
    overflow: hidden; /* Ensures content does not overflow the button */
  }
  
  button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: flex; 
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #282936; /* Background color of the circle */
    border-radius: 1.625rem;
  }
  
  button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    background: #fff; /* Background color of the icon */
  }
  
  button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
  }
  
  button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: '';
    top: -0.25rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff; /* Arrow color */
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
  }
  
  button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 50%;
    left:57%;
    transform: translate(-50%, -50%); /* Center text vertically and horizontally */
    padding: 0.75rem 0;
    color: #282936; /* Text color */
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.6;
    text-align: center;
  }
  
  button.learn-more:hover .circle {
    width: 100%;
  }
  
  button.learn-more:hover .circle .icon.arrow {
    background: #fff; /* Arrow color on hover */
    transform: translateX(1rem);
  }
  
  button.learn-more:hover .button-text {
    color: #fff; /* Text color on hover */
  }
  
  @supports (display: grid) {
    #container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 0.625rem;
      grid-template-areas: ". main main ." ". main main .";
      align-self: center;
      justify-self: center;
    }
  }
  
/*settings-button*/
  .gear-button {
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
  }
  
  .gear-button svg {
    fill: #C0C0C0;
    transition: transform 0.6s cubic-bezier(0.65, 0, 0.35, 1), fill 0.6s cubic-bezier(0.65, 0, 0.35, 1);
    height: 2.5rem;
    width: 2.5rem;
    margin: .2rem;
  }
  
  .gear-button:hover svg {
    fill: #000;
    transform: rotate(360deg);
  }
