


* {
    font-family: "Barlow", sans-serif;
}

.logo {
    border-radius: 100%;
    height: 5rem;
    width: auto; 
    margin-left:3rem;
    display: block;
}

body, html {
    margin: 0;
    padding: 0;
    background-color: #131417;
}

nav {
    margin  : 0.5rem;
}

.navbar {
    background: #1e1f26;
    border-radius: 10px;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
}

.navbar ul {
    list-style-type: none;
    padding: 0; 
    margin: 0;
    display: flex;
    align-items: center; 
}

.nav-elements {
    margin-right: 20rem;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    display: block;
    font-weight: 800;
}

.navbar ul li button {
    border: solid 2px;
    border-color: #382b22;
    border-radius: 0.4rem;
    background-color: #382b22;
    padding: 0.5rem 1rem;
}

.navbar ul li button.contact{
    border: solid 2px;
    border-color: #000000;
    border-radius: 0.4rem;
    background-color: #3D7B66;
    padding: 0.5rem 1rem;
}

.navbar ul button:active{
    box-shadow: 0 2px #2c6b2f; /* Weniger Schatten bei Klick */
    transform: translateY(2px); /* Button bewegt sich nach unten */
}

